.Pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
}

ul{
    list-style-type: none;
}
.blogItem{
    animation: fadeIn 500ms;
    width: 100%;
}
@keyframes fadeIn {
    0%  {margin-left: -100%};
    100% {margin-left: 0%;}
}